    * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}

body {
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 96%);
}

#main-heading {
  font-size: 6.2rem;
  color: #1e1403;
  margin: 3rem 0;
}
.flex-container{
    width: 900px;
    height: 600px;
    margin: auto auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,rgb(51,51,51)0px,0px,0px,3px ;
    background:linear-gradient(to right,#514a9d, #24c6dc );
     color: #fff;

     display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    justify-content:space-around;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
         
}

.item{
    width: 100px;
    height: 90px;
    aspect-ratio: 1;
    background-image: linear-gradient(to right top, #004d7a, #00bf72, #a8eb12);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px;
}   
  /* .item-2{
    flex-grow:1;
    flex-shrink:5;
} */  