
.lists{
    width: 500px;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0 0 0 0.94) 0px 3px 8px;
    
}
ul{
    list-style-type:decimal;
    list-style-position: inside;
    
}
li{
   font-size: 32px;
   font-weight: 400;
   text-transform: capitalize;
   margin-bottom: 16px;
   border: 2px solid #ed5656; 
}