

div{
  width: 500px;
  height: 500px;
  background-color: blueviolet;
  border-radius:  100px;
  border: 1px solid ;
  border-color: red;
  
  background-image:linear-gradient(to right top,
  #051937,
  #004d7a,
  #008793
  #00bf72,
  #00a8eb12);
}